In [1]:
import pandas as pd
import numpy as np

In [4]:
main_df = pd.read_csv("https://raw.githubusercontent.com/Pro509/Student-Diversity-and-Performance/main/student_data.csv") 
main_df.head()

,Year,Number,First Name,Midterm 1,Midterm 2,General,Group,Paper,firstName,countryOrigin,countryOriginAlt,countriesOriginTop,score,regionOrigin,topRegionOrigin,subRegionOrigin,probabilityCalibrated,probabilityAltCalibrated
0,2021.0,1.0,LAURA,30.0,29,NaN,20.0,29.0,LAURA,ES,RO,"ES,RO,FI,IT,PT,LT,GB,EE,IE,CH",0.000000,Europe,Europe,Southern Europe,0.308133,0.361020
1,2021.0,2.0,GIOVANNI,27.0,28,NaN,13.0,30.0,GIOVANNI,IT,GR,"IT,GR,CH,BJ,CY,IL,ID,NA,HU,GE",21.333517,Europe,Europe,Southern Europe,0.964457,0.976309
2,2021.0,3.0,ANANDYA,NaN,NaN,55.0,9.0,28.0,ANANDYA,ID,LK,"ID,LK,IN,MU,UA,TZ,AM,BG,NP,BN",0.031871,Asia,Asia,South-Eastern Asia,0.357164,0.390468
3,2021.0,4.0,FEDERICA,8.0,NaN,59.0,18.0,30.0,FEDERICA,IT,ES,"IT,ES,MD,PT,RO,HR,TZ,LR,CH,GH",14.685878,Europe,Europe,Southern Europe,0.914701,0.926704
4,2021.0,5.0,CAMILLA,28.0,31,NaN,6.0,30.0,CAMILLA,IT,SE,"IT,SE,DK,PT,GB,RO,NO,CH,ES,MZ",4.203014,Europe,Europe,Southern Europe,0.571413,0.744748

In [6]:
cols_to_int = ['Year','Group']
for col in cols_to_int:
  main_df[col] = main_df[col].fillna(0).astype(int)

cols_to_float = ['Midterm 1','Midterm 2','General','Paper']
for col in cols_to_float:
  main_df[col]= main_df[col].replace('x', 0)
  main_df[col] = main_df[col].fillna(0).astype(float)

In [7]:
years_df = {}
years = main_df['Year'].unique().tolist() 
for year in years:
  years_df[year] = main_df[main_df['Year']==year]

In [8]:
for year in years:
  df = years_df[year]
  df['n_unique_origin'] = df.groupby('Group')['countryOrigin'].transform('nunique')
  df['n_unique_subRegion'] = df.groupby('Group')['subRegionOrigin'].transform('nunique')
  df = df.drop(columns=['countryOriginAlt', 'countriesOriginTop','score','regionOrigin','topRegionOrigin', 'probabilityAltCalibrated'])
  years_df[year] = df

<ipython-input-8-d5a58e0ad0c5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['n_unique_origin'] = df.groupby('Group')['countryOrigin'].transform('nunique')
<ipython-input-8-d5a58e0ad0c5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['n_unique_subRegion'] = df.groupby('Group')['subRegionOrigin'].transform('nunique')

In [9]:
# Merging all year-wise dataframes
frames = list(years_df.values())
result = pd.concat(frames)
result.to_stata('studentDiversity_data.dta')

/usr/local/lib/python3.8/dist-packages/pandas/io/stata.py:2397: InvalidColumnName:
Not all pandas column names were valid Stata variable names.
The following replacements have been made:

    First Name   ->   First_Name
    Midterm 1   ->   Midterm_1
    Midterm 2   ->   Midterm_2

If this is not what you expect, please make sure you have Stata-compliant
column names in your DataFrame (strings only, max 32 characters, only
alphanumerics and underscores, no Stata reserved words)

  warnings.warn(ws, InvalidColumnName)